# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IsoDemo.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Tanner\IsoDemo\.idea\.idea.IsoDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
